VITE_API_BASE=http://localhost:8000/api/v1
VITE_BACKEND_HEALTH=http://localhost:8000/health
VITE_AI_BASE=http://localhost:8001/api/v1
VITE_AI_HEALTH=http://localhost:8001/health
VITE_ELASTIC_HEALTH=http://localhost:9200
VITE_LOGSTASH_HEALTH=http://localhost:9600
VITE_KIBANA_HEALTH=http://localhost:5601/api/status
VITE_DEFAULT_RANGE_HOURS=6
